<div class="new-service-container">
    <div class="display-align_center-justify_between">
        <h2 mat-dialog-title>Select new service</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>

        <mat-stepper labelPosition="bottom" #stepper>



            <mat-step [stepControl]="SelectionPlanGroup" label="Domain" [optional]="!f.SelectedDomain">
                <form [formGroup]="SelectionPlanGroup">
                    <section>
                        <mat-checkbox color="primary" formControlName="SelectedDomain">Register domain</mat-checkbox>
                    </section>
                    <div class="container" [ngClass]="f.SelectedDomain ? '' : 'noClick'"
                        [ngStyle]="{'background-color': !f.SelectedDomain ? '#d5d5d5' : 'transparent'}">
                        <p>Enter domain:</p>
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="domain.com" formControlName="DomainValue"
                                [readonly]="!f.SelectedDomain">
                        </mat-form-field>
                        <p>Price: {{data.domain_yearly}}€ yearly</p>
                    </div>
                </form>
            </mat-step>




            <mat-step [stepControl]="SelectionPlanGroup" label="Server" [optional]="!f.SelectedServer">
                <form [formGroup]="SelectionPlanGroup">
                    <section>
                        <mat-checkbox color="primary" formControlName="SelectedServer">Server creation</mat-checkbox>
                    </section>
                    <div class="container" [ngClass]="f.SelectedServer ? '' : 'noClick'"
                        [ngStyle]="{'background-color': !f.SelectedServer ? '#d5d5d5' : 'transparent'}">
                        <p class="p-margin">Server pricing (monthly):</p>

                        <mat-radio-group class="display-justify_evenly server-pricing"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="f.ServerPlan">
                            <mat-radio-button *ngFor="let index of [0,1,2]" color="primary" [value]="index">
                                <span>
                                    <p class="bold">
                                        {{PlanEnum[index]}}
                                    </p>
                                    <p>{{data.server_monthly[index] | number: '1.2-2'}}€</p>
                                </span>
                            </mat-radio-button>
                        </mat-radio-group>

                        <p lass="p-margin">Select storage capacity</p>
                        <section>
                            <mat-checkbox color="primary" formControlName="ServerDefaultStorage"
                                [disabled]="!f.SelectedServer">Use free storage (10
                                GB)</mat-checkbox>
                        </section>

                        <div class="display-align_center-column">
                            <label>Storage space</label>
                            <label>{{GetFormatedStorageText()}}</label>
                        </div>
                        <mat-slider class="slider" [disabled]="f.ServerDefaultStorage" max="10240" min="128" step="128">
                            <input matSliderThumb formControlName="ServerStorageSize" #slider>
                        </mat-slider>

                    </div>

                </form>
            </mat-step>




            <mat-step [stepControl]="SelectionPlanGroup" label="Email" [optional]="!f.SelectedEmailProtection">
                <form [formGroup]="SelectionPlanGroup">
                    <section>
                        <mat-checkbox color="primary" formControlName="SelectedEmailProtection">Email
                            protection</mat-checkbox>
                    </section>

                    <div class="container" [ngClass]="f.SelectedEmailProtection ? '' : 'noClick'"
                        [ngStyle]="{'background-color': !f.SelectedEmailProtection ? '#d5d5d5' : 'transparent'}">
                        <p>Enter email:</p>
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="email@gmail.com" formControlName="EmailValue"
                                [readonly]="!f.SelectedEmailProtection">
                        </mat-form-field>
                        <p>Price: {{data.email_protection_monthly}}€ monthly</p>
                    </div>

                </form>
            </mat-step>



            <mat-step [stepControl]="SelectionPlanGroup" label="Check out">
                <p class="check_out-margin" [ngStyle]="{'visibility': GetPriceForYear() !== 0 ? 'visible': 'hidden'}">
                    Total payment for:
                    {{GetPriceForYear() |
                    number: '1.2-2'}}€</p>
                <div *ngIf="GetPriceForYear() !== 0">
                    <p>Name your service</p>
                    <form [formGroup]="SelectionPlanGroup">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Service name" formControlName="ServiceName">
                        </mat-form-field>
                    </form>
                </div>
                <p class="check_out-margin" [ngStyle]="{'visibility': GetPriceForYear() === 0 ? 'visible': 'hidden'}">
                    You did not selected any provided
                    services.
                    Please, select one and continue.</p>
                <div class="display-justify_end">
                    <button class="decline" mat-button mat-dialog-close>Cancel</button>
                    <button class="pay" mat-button [disabled]="GetPriceForYear() == 0"
                        (click)="CreateNewService()">Check out</button>
                </div>
            </mat-step>

        </mat-stepper>

        <div *ngIf="stepper.selectedIndex !==3" class="display-justify_between">
            <p>Year total: {{GetPriceForYear() | number: '1.2-2'}}€</p>
            <button mat-flat-button class="next-button" (click)="MoveToNextPage()">Next</button>
        </div>

    </mat-dialog-content>

</div>