<div class="container-resources display-align_center-column">
  <div style="display: flex; justify-content: end; width: calc(100% - 20px); margin: 10px;">
    <button mat-icon-button (click)="ClosePanel.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h1 class="bold">{{UserServerProperties.service_name}}</h1>

  <div class="circle display-justify_center">
    <img src="../../../../assets/icons/server.svg" />
  </div>

  <div class="server-load">
    <p class="bold">CPU usage:</p>
    <mat-spinner mode="determinate" [value]="server_load"></mat-spinner>
    <div class="display-justify_center bold position">
      {{ server_load }}%
    </div>
  </div>

  <div class="server-properties display-align_center-column bold">
    <h2>Server properties</h2>
    <div class="properties">
      <span class="cpu display-align_center">
        <p>CPU: {{ UserPlanProperties.cpu_properties.cpu }}</p>
        <button mat-icon-button (click)="OpenCPUInformationModal()">
          <mat-icon>info</mat-icon>
        </button>
      </span>

      <p>RAM: {{ UserPlanProperties.ram }} GB</p>
      <p>Storage: {{ UserServerProperties.server_configuration.storage - UserServerProperties.server_configuration.used_storage }} GB free of {{
        UserServerProperties.server_configuration.storage }} GB</p>
    </div>
  </div>

  <button mat-flat-button class="buttons" (click)="IncreaseServerStorage()">
    Increase
  </button>
</div>