.container-resources {
  --container-margin: 20px;
  --container-margin-right: 10px; // Half of --container-margin

  margin: var(--container-margin) var(--container-margin-right)
    var(--container-margin) var(--container-margin);
  width: calc(100% - var(--container-margin) - var(--container-margin-right));
  height: calc(100% - (var(--container-margin) * 2));
  background-color: #ede8f5;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.close {
  width: calc(100% - 20px);
  margin: 10px;
}

.circle {
  --circle-size: 200px;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: var(--circle-size);
  background: #adbbda;
  margin: 10px;
}

.circle img {
  width: 50%;
  max-width: 100px;
}

.server-load p {
  padding: 10px;
}

.server-load .position {
  position: relative;
  top: -60px;
}

.server-properties {
  margin: 10px;
}

.properties {
  position: relative;
  margin-bottom: 10px;
}

.cpu button {
  --button-left-margin: 5px;
  position: absolute;
  right: calc(-48px - var(--button-left-margin));
}
