@keyframes move_in {
  from {left: -40%;}
  to {left: 0;}
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #7091e6;
  overflow-y: auto;
}

.container-services {
  width: 100%;
  height: calc(100% - var(--header-height));

}
