<div class="container-list">

  <div style="display: flex; justify-content: space-between; padding: 10px;">
    <h1 class="bold">Services:</h1>
    <button mat-button class="buttons" (click)="AddNewServiceModal()">New service</button>
  </div>

  <div style="margin: 10px;">

    <div *ngFor="let service of UserServiceList" style="border-bottom: 1px solid black;">
      <p>Server: {{service.server_name}}</p>
      <p class="display-align_center">Self domain:
        <mat-icon [ngStyle]="{'color':service.own_domain ? '#28a745' : 'red'}">{{service.own_domain ?
          "check_circle_outline" : "remove_circle_outline"}}</mat-icon>
      </p>
      <p>IP address: {{service.domain}}</p>
      <p class="display-align_center">Email protection:
        <mat-icon [ngStyle]="{'color':service.email_protection ? '#28a745' : 'red'}">{{service.email_protection ?
          "check_circle_outline" : "remove_circle_outline"}}</mat-icon>
      </p>
      <div class="display-align_center">
        <p>Storage: {{ service.storage - service.used_storage }} GB free ({{GetPercentageOfFreeStorage(service)*100 | number: '1.2-2'}}%)</p>
        <mat-icon [ngStyle]="{'color': GetPercentageOfFreeStorage(service) < 0.5 ? 'green' : 
          GetPercentageOfFreeStorage(service) < 0.8 ? 'orange' : 'red'}">fiber_manual_record</mat-icon>
      </div>
    </div>
  </div>


</div>